@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}

textarea::placeholder {
  font-size: 12px;
}

.alma-admin-gradient {
  background: radial-gradient(circle at 0 0, #d9dea5 0%, white 25%);
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

input:focus-visible, select:focus-visible {
  outline: 1px solid #d9dea5;
}

th {
  font-weight: 400;
}